@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  font-family: "Raleway", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.recent::-webkit-scrollbar,.answer::-webkit-scrollbar {
  display:none !important;
}
html{
  scroll-behavior: smooth;
}
.fixedNav{
  position: sticky !important;
  top:0;
  z-index:2222; 
  background: white; 
  margin: 0;
  left:0;
  width:100%;
  
}
body{
  margin:auto;
  box-sizing:border-box;
  font-family:'Raleway', serif; 

  /* min-height: 100vh; */
  /* overflow-y: hidden; */
  animation: fadeIn 1s ease-in-out;
}
a:hover{
  color:green !important;
}
@keyframes fadeIn {
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}
.loaded{
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.2s ease-in-out;
  height:90px;
  width:90px;
  border:16px solid #f3f3f3;
  border-top:16px solid blue;
  border-right:16px solid green;
  border-bottom:16px solid red;
  border-left:16px solid pink;
  border-radius:50%;
  /* background: black; */
  animation: rotate 1s linear infinite;
  display: flex;
  justify-content: center;
}
.fade{
  animation: fadeIn 1s ease-in-out;
  
}
.loading{
  height:120px;
  width:120px;
  border:16px solid #f3f3f3;
  border-top:16px solid blue;
  border-right:16px solid green;
  border-bottom:16px solid red;
  border-left:16px solid pink;
  border-radius:50%;
  /* background: black; */
  animation: rotate 1s linear infinite;
}
@keyframes rotate{
  0%{
    transform:rotate(0deg)

  }
  100%{
    transform:rotate(360deg)

  }
}
a {
  font-weight: 500;
  color: gray;
  text-decoration: inherit;
}
a:hover {
  color: green !important;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    transition :all;
    cursor:pointer;
    /* padding: 20px; */

}
.card{
  transition :all ease-in-out;
  cursor:pointer;
}
.card:hover{
  transform: scale(1.04);
  opacity:0.57;
}
span.first{
  margin-top:0px !important;
}
span.second{
  margin-top:125px !important ;

}
span.third{
  margin-top:235px !important ;
}
span.fourth{
  margin-top:364px !important ;
}
@media (max-width:1200px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:170px !important ;
  
  }
  span.third{
    margin-top:330px !important;
  }
  span.fourth{
    margin-top:475px !important;
  }
}
@media (max-width:800px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:160px !important ;
  
  }
  span.third{
    margin-top:310px !important;
  }
  span.fourth{
    margin-top:480px !important;
  }
}
@media  (max-width:600px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:150px !important ;
  
  }
  span.third{
    margin-top:290px !important;
  }
  span.fourth{
    margin-top:455px !important;
  }
}