@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..800;1,300..800&display=swap');
:root {
  font-family: "Raleway", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}
.recent::-webkit-scrollbar,.answer::-webkit-scrollbar {
  display:none !important;
}
html{
  scroll-behavior: smooth;
}
.fixedNav{
  position: sticky !important;
  top:0;
  z-index:2222; 
  background: white; 
  margin: 0;
  left:0;
  width:100%;
  
}
body{
  margin:auto;
  box-sizing:border-box;
  font-family:'Raleway', serif; 

  /* min-height: 100vh; */
  /* overflow-y: hidden; */
  animation: fadeIn 1s ease-in-out;
}
a:hover{
  color:green !important;
}
@keyframes fadeIn {
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}
@keyframes fadesIn {
  0%{
    opacity:0;
    height:0px;
    max-height:0px;
  }
  100%{
    opacity:1;
    height:auto;
    max-height:500px;
  }
}
a::active{
  color:green;
}
.fade{
  animation: fadeIn 1s ease-in-out;
  
}
.fades{
  animation: fadesIn 0.7s forwards ease-in-out;
  transition:all 0.3s ease-in-out ;
  
}
a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: green !important;
}

span.first{
  margin-top:0px !important;
}
span.second{
  margin-top:125px !important ;

}
span.third{
  margin-top:235px !important ;
}
span.fourth{
  margin-top:364px !important ;
}
@media (max-width:1200px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:120px !important ;
  
  }
  span.third{
    margin-top:250px !important;
  }
  span.fourth{
    margin-top:365px !important;
  }
}
@media (max-width:1024px){
  .earnImg,.scanImg,
  .leftLine,.rightLine{
    display:none;
  }
}
@media (max-width:1070px){
  span.first{
    margin-top:0px !important ;

}
.earnImg,.scanImg,
.leftLine,.rightLine{
  display:none;
}
  span.second{
    margin-top:150px !important ;
  
  }
  span.third{
    margin-top:285px !important;
  }
  span.fourth{
    margin-top:445px !important;
  }
}
@media (max-width:1002px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:150px !important ;
  
  }
   .earnImg,.scanImg,
  .leftLine,.rightLine{
    display:none;
  }
  span.third{
    margin-top:315px !important;
  }
  span.fourth{
    margin-top:465px !important;
  }
}
@media (max-width:900px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:155px !important ;
  
  }
  .earnImg,.scanImg,
  .leftLine,.rightLine{
    display:none;
  }
  span.third{
    margin-top:320px !important;
  }
  span.fourth{
    margin-top:473px !important;
  }
}
@media (max-width:767px){
  span.second{
    margin-top:109px !important;

  }
  span.third{
    margin-top:220px !important;
  }
  span.fourth{
    margin-top:330px !important;
    
  }
}
@media  (max-width:600px){
  span.first{
    margin-top:0px !important ;

}
  span.second{
    margin-top:150px !important ;
  
  }
  span.third{
    margin-top:290px !important;
  }
  span.fourth{
    margin-top:429px !important;
  }
}